<footer class="site-footer h-card">
    <data class="u-url" href="{{ "/" | relative_url }}"></data>
  
    <div class="wrapper">
  
      <div class="footer-col-wrapper">
        <div class="footer-col footer-col-1">
          <p> An open-source benchmark for evaluating chat-optimized language models as conversational agents through game play. </p>
        </div>

        <div class="footer-col footer-col-2"><ul class="social-media-list"><li><a href="https://github.com/clembench/clembench"><svg class="svg-icon"><use xlink:href="/temp2.github.io/assets/minima-social-icons.svg#github"></use></svg> <span class="username">clem-bench</span></a></li></ul>
  </div>
  
        <div class="footer-col footer-col-3">
            <ul class="contact-list">
            <li class="p-name"></li><li><a class="u-email" href="https://clp.ling.uni-potsdam.de/">Foundations of computational linguistics, Potsdam</a></li></ul>
        </div>
      </div>
    
    </div>
  
  </footer>